@import url(https://fonts.googleapis.com/css2?family=Quicksand);

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', 'Arial';
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    width: 30em;
    max-width: 100%;
    margin: auto;
    margin-top: 8%;
}

.content * {
    margin: auto;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

#send {
    margin-top: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}